In [15]:
import pandas as pd

# Extração dos dados da filial 1 (CSV)
vendas_filial1 = pd.read_csv("vendas_filial1.csv")

# Extração dos dados da filial 2 (Excel)
vendas_filial2 = pd.read_excel("vendas_filial2.xlsx")


# Transformações
# Podemos fazer transformações adicionais aqui, se necessário

# Visualização dos dados
print("Dados da filial 1:")
print(vendas_filial1.head())
print("Dados da filial 2:")
print(vendas_filial2.head())

Dados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário
0          1500.0
1          1000.0
2           600.0
3           200.0
4            80.0
Dados da filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário
0           250.0
1           180.0
2           900.0
3           300.0
4           120.0

In [16]:
# Transformação dos dados: Calcular o valor total de vendas para cada filial
vendas_filial1["Valor Total"] = (
    vendas_filial1["Quantidade Vendida"] * vendas_filial1["Preço Unitário"]
)
vendas_filial2["Valor Total"] = (
    vendas_filial2["Quantidade Vendida"] * vendas_filial2["Preço Unitário"]
)

# Visualizar os dados transformados
print("Dados da filial 1 com valor total:")
print(vendas_filial1.head())
print("Dados da filial 2 com valor total:")
print(vendas_filial2.head())

Dados da filial 1 com valor total:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor Total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0
Dados da filial 2 com valor total:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor Total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [17]:
# Carregamento dos dados transformados para um arquivo CSV
vendas_filial1.to_csv("vendas_filial1_transformadas.csv", index=False)
vendas_filial2.to_csv("vendas_filial2_transformadas.csv", index=False)

# Apresentar os dados carregados dos arquivos CSV
dados_filial1 = pd.read_csv("vendas_filial1_transformadas.csv")
dados_filial2 = pd.read_csv("vendas_filial2_transformadas.csv")

print("Dados da filial 1 carregados do arquivo CSV:")
print(dados_filial1.head())
print("Dados da filial 2 carregados do arquivo CSV:")
print(dados_filial2.head())

Dados da filial 1 carregados do arquivo CSV:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor Total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0
Dados da filial 2 carregados do arquivo CSV:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor Total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [18]:
import sqlite3

# Conexão com o banco de dados SQLite
conn = sqlite3.connect("dados_transformados.db")

# Carregar os dados transformados para o banco de dados SQLite
dados_filial1.to_sql(
    "vendas_filial1_transformadas", conn, if_exists="replace", index=False
)
dados_filial2.to_sql(
    "vendas_filial2_transformadas", conn, if_exists="replace", index=False
)

# Consulta SQL para obter os dados transformados das filiais
consulta_filial1 = pd.read_sql_query("SELECT * FROM vendas_filial1_transformadas", conn)
consulta_filial2 = pd.read_sql_query("SELECT * FROM vendas_filial2_transformadas", conn)

print("Dados da filial 1 carregados do banco de dados SQLite:")
print(consulta_filial1.head())
print("Dados da filial 2 carregados do banco de dados SQLite:")
print(consulta_filial2.head())

# Fechar a conexão com o banco de dados SQLite
conn.close()

Dados da filial 1 carregados do banco de dados SQLite:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor Total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0
Dados da filial 2 carregados do banco de dados SQLite:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor Total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [19]:
import sqlite3

# Conexão com o banco de dados SQLite
conn = sqlite3.connect("dados_transformados.db")

# Criar um cursor para executar consultar SQL
cursor = conn.cursor()

# Executar uma consulta SQL para obter os dados da tabela vendas_filial1_transformadas
cursor.execute("SELECT * FROM vendas_filial1_transformadas")

# Obter os resultados da consulta
dados_filial1 = cursor.fetchall()

# Exibir os resultados da filial 1
for linha in dados_filial1:
    print(linha)

# Executar uma consultas SQL para obter os dados da tabela vendas_filial2_transformadas
cursor.execute("SELECT * FROM vendas_filial2_transformadas")

# Obter os resultados da consulta
dados_filial2 = cursor.fetchall()

# Exibir os resultados da filial 2
for linha in dados_filial2:
    print(linha)

# Fechar o cursor e a conexão com o banco de dados SQLite
cursor.close()
conn.close()

(101, 'Laptop Dell XPS 13', 20, 1500.0, 30000.0)
(102, 'Smartphone Samsung Galaxy S20', 30, 1000.0, 30000.0)
(103, 'Monitor LG UltraWide 34"', 15, 600.0, 9000.0)
(104, 'Teclado Mecânico Corsair K95 RGB', 25, 200.0, 5000.0)
(105, 'Mouse Logitech MX Master 3', 10, 80.0, 800.0)
(201, 'Impressora HP LaserJet Pro', 12, 250.0, 3000.0)
(202, 'SSD Samsung 1TB', 18, 180.0, 3240.0)
(203, 'Tablet Apple iPad Pro', 8, 900.0, 7200.0)
(204, 'Smartwatch Samsung Galaxy Watch 4', 14, 300.0, 4200.0)
(205, 'Headset HyperX Cloud II', 20, 120.0, 2400.0)